In [37]:
#import pandas and read in csv files
import pandas as pd

hawaii_measurements_df = pd.read_csv("hawaii_measurements.csv")

hawaii_stations_df = pd.read_csv("hawaii_stations.csv")

In [38]:
hawaii_stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [45]:
hawaii_stations_df.isnull().sum()

station      0
name         0
latitude     0
longitude    0
elevation    0
dtype: int64

In [48]:
hawaii_stations_df.to_csv("clean_hs_df.csv")

In [39]:
hawaii_measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [40]:
#find count of NaN values by column
hawaii_measurements_df.isnull().sum()

station       0
date          0
prcp       1447
tobs          0
dtype: int64

In [46]:
#fill NaN values with average precipitation
hawaii_measurements_df["prcp"] = hawaii_measurements_df["prcp"].fillna(hawaii_measurements_df["prcp"].mean())

#test to see if command worked
hawaii_measurements_df.isnull().sum()

station    0
date       0
prcp       0
tobs       0
dtype: int64

In [47]:
hawaii_measurements_df.to_csv("clean_hm_df.csv")