In [1]:
#import dependencies
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy import Column, Float, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
Base = declarative_base()

In [2]:
#create sqlite database
engine = create_engine("sqlite:///hawaii.sqlite")

In [3]:
#read in measurements csv
measurements_df = pd.read_csv("clean_hm_df.csv")

In [4]:
#read in stations csv
stations_df = pd.read_csv("clean_hs_df.csv")

In [19]:
measurements_df = measurements_df[["station", "date", "prcp", "tobs"]]

measurements_df["date"].max()

'2017-08-23'

In [6]:
stations_df = stations_df[["station", "name", "latitude", "longitude", "elevation"]]

stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [7]:
#define table classes
class Measurements(Base):
    __tablename__ = 'Measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Integer)
    
class Stations(Base):
    __tablename__ = "Stations"
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [8]:
#create tables in sqlite database
Base.metadata.create_all(engine)

In [9]:
#check to see if tables were added to sqlite database
engine.table_names()

['Measurements', 'Stations']

In [10]:
#populate tables with csv data
conn = engine.connect()

measurements_df.to_sql('Measurements', conn, if_exists="append", index=False)

stations_df.to_sql('Stations', conn, if_exists="append", index=False)

In [16]:
#run test query on measurements to see if data was populated
engine.execute("SELECT * from Measurements limit 5").fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65),
 (2, 'USC00519397', '2010-01-02', 0.0, 63),
 (3, 'USC00519397', '2010-01-03', 0.0, 74),
 (4, 'USC00519397', '2010-01-04', 0.0, 76),
 (5, 'USC00519397', '2010-01-06', 0.16064353974479206, 73)]

In [17]:
#run test query on stations to see if data was populated
engine.execute("SELECT * from Stations limit 1").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0)]